<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BottomNavigation"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".LupaNIKActivity"
            android:exported="false"
            android:label="@string/title_activity_lupa_nikactivity"
            android:theme="@style/Theme.BottomNavigation" />
        <activity
            android:name=".EditAkunActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_akun"
            android:theme="@style/Theme.BottomNavigation" />
        <activity
            android:name=".AGEN.RegisterAgenActivity"
            android:exported="false"
            android:label="@string/title_activity_register_agen"
            android:theme="@style/Theme.BottomNavigation" />
        <activity
            android:name=".AGEN.LogAgenActivity"
            android:exported="false" />
        <activity
            android:name=".AGEN.HomeAgenActivity"
            android:exported="false" />
        <activity
            android:name=".Splash1Activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".LogJamaahActivity"
            android:exported="false" />
        <activity
            android:name=".RegJamaahActivity"
            android:exported="false" />
        <activity
            android:name=".JadwalSholat"
            android:exported="false" />
    </application>

</manifest>